URxvt*font:           xft:DejaVu Sans Mono:style=Book:pixelsize=12
URxvt*boldFont:       xft:DejaVu Sans Mono:style=Bold:pixelsize=12
URxvt*italicFont:     xft:DejaVu Sans Mono:style=Oblique:pixelsize=12
URxvt*boldItalicFont: xft:DejaVu Sans Mono:style=BoldOblique:pixelsize=12
URxvt.scrollBar:      false