URxvt*font:           xft:DejaVu Sans Mono:style=Book:size=12
URxvt*boldFont:       xft:DejaVu Sans Mono:style=Bold:size=12
URxvt*italicFont:     xft:DejaVu Sans Mono:style=Oblique:size=12
URxvt*boldItalicFont: xft:DejaVu Sans Mono:style=BoldOblique:size=12
URxvt.scrollBar:      false