ethernet _first_ {
  format_up = "E: %ip (%speed)"
  format_down = "E: down"
}

wireless _first_ {
  format_up = "W: (%quality at %essid) %ip"
  format_down = "W: down"
}

disk "/" {
  format = "%avail"
}

load {
  format = "%1min"
}

memory {
  format = "%used/%total"
  threshold_degraded = "10%"
  format_degraded = "MEMORY CRITICAL: %available"
}

tztime local {
  format = "%Y-%m-%d %H:%M"
}

battery choice {
  format = "%status %percentage"
  format_down = "No battery"
  last_full_capacity = true
  integer_battery_capacity = true
  status_chr = "[^] CHR"
  status_bat = "[v] BAT"
  status_unk = "[?] UNK"
  status_full = "[=] FUL"
  path = "/sys/class/power_supply/cw2015-battery/uevent"
  low_threshold = 20
  threshold_type = time
}