# Workspace definitions
set $ws0 "0:0"
set $ws1 "1:1"
set $ws2 "2:2"
set $ws3 "3:3"
set $ws4 "4:4"
set $ws5 "5:5"
set $ws6 "6:6"
set $ws7 "7:7"
set $ws8 "8:8"
set $ws9 "9:9"
set $ws10 "10:10"

set $wsf1 "101:F1"
set $wsf2 "102:F2"
set $wsf3 "103:F3"
set $wsf4 "104:F4"
set $wsf9 "109:F9"
set $wsf10 "110:F10"
set $wsf11 "111:F11"
set $wsf12 "112:F12"

# Workspace switching
bindsym $mod+grave workspace $ws0
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

bindsym $mod+F1 workspace $wsf1
bindsym $mod+F2 workspace $wsf2
bindsym $mod+F3 workspace $wsf3
bindsym $mod+F4 workspace $wsf4
bindsym $mod+F9 workspace $wsf9
bindsym $mod+F10 workspace $wsf10
bindsym $mod+F11 workspace $wsf11
bindsym $mod+F12 workspace $wsf12

# Moving containers to workspace
bindsym $mod+Shift+grave move container to workspace $ws0
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10

bindsym $mod+Shift+F1 move container to workspace $wsf1
bindsym $mod+Shift+F2 move container to workspace $wsf2
bindsym $mod+Shift+F3 move container to workspace $wsf3
bindsym $mod+Shift+F4 move container to workspace $wsf4
bindsym $mod+Shift+F9 move container to workspace $wsf9
bindsym $mod+Shift+F10 move container to workspace $wsf10
bindsym $mod+Shift+F11 move container to workspace $wsf11
bindsym $mod+Shift+F12 move container to workspace $wsf12