font pango:DejaVu Sans Mono 9

# class                 border  bground text    indicator child_border
client.focused          #404040 #003A6D #F4F5E4 #003A6D   #404040
client.focused_inactive #404040 #E1FFFF #323232 #E1FFFF   #404040
client.unfocused        #404040 #E1FFFF #323232 #E1FFFF   #404040
client.urgent           #404040 #BA0000 #FFFFFF #900000   #900000
client.placeholder      #404040 #333333 #FFFFFF #404040   #404040

client.background       #F4F5E4

bar {
    font pango:DejaVu Sans Mono 9
    
    
    colors {
        background #F4F5E4
        statusline #333333
        separator  #333333

        focused_workspace  #404040 #A7F0F5 #404040
        active_workspace   #404040 #A7F0F5 #404040
        inactive_workspace #404040 #F4F5E4 #404040
        urgent_workspace   #404040 #BA0000 #F4F5E4
        binding_mode       #404040 #BA0000 #F4F5E4
    }
    
    position top
    status_command i3status
    strip_workspace_numbers yes
}

bindsym $mod+d exec "dmenu_run -nf '#323232' -nb '#F6F4E5' -sb '#003A6D' -sf '#F6F4E5' -fn 'monospace-10' -p 'dmenu'"

exec "xrdb ~/.Xresources"